<h1>ArchCE</h1>
<div class="grid">
  <div class="col-12">
    <p-card header="Conceptualization"></p-card>
  </div>
  <div class="col-12">
    <p-card header="Elaboration">
      <p>Within the ISO/IEC/IEEE 42020 standard, the Architecture Elaboration process focuses on taking the high-level architectural concepts developed during conceptualization and translating them into more detailed specifications. It essentially bridges the gap between the initial ideas and the technical implementation.</p>
      <ng-template pTemplate="footer">
        <!-- <p-button label="Execute process" icon="pi pi-external-link" (click)="openLink('https://www.ibm.com/cloud/architecture/architectural-design/')" class="p-button-text"></p-button> -->
        <p-button label="Execute process" icon="pi pi-external-link" class="p-button-text" routerLink="/elaboration"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>

