<div class="card">
  <p-toast />
  <p-toolbar styleClass="mb-4 gap-2">
    <ng-template pTemplate="left">
      <p-button
        pRipple
        severity="success"
        label="New"
        icon="pi pi-plus"
        class="mr-2"
        (click)="addNewEntityInterest()"
      />
      <p-button
        pRipple
        severity="danger"
        label="Delete"
        icon="pi pi-trash"
        (click)="deleteSelectedEntities()"
        [disabled]="!selectedEsoI || !selectedEsoI.length"
      />
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="entitiesInterest"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="['name']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedEsoI"
    [rowHover]="true"
    dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <h5 class="m-0">Manage Entities of Interest</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target, 'contains')"
            placeholder="Search..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox />
        </th>
        <th pSortableColumn="name" style="min-width: 15rem">
          Name <p-sortIcon field="name" />
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entityInterest>
      <tr>
        <td>
          <p-tableCheckbox [value]="entityInterest" />
        </td>
        <td>
          {{ entityInterest.name }}
        </td>
        <td>
          <p-button
            pRipple
            icon="pi pi-pencil"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (click)="editProduct(entityInterest)"
          />
          <p-button
            pRipple
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteProduct(entityInterest)"
          />
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        In total there are
        {{ entitiesInterest ? entitiesInterest.length : 0 }} entities of
        interest.
      </div>
    </ng-template>
  </p-table>

  <p-dialog
    [(visible)]="eoiDialog"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [style]="{ width: '50vw' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid"
  >
    <ng-template pTemplate="content">
      <div class="field">
        <label for="name">Name</label>
        <input
          type="text"
          pInputText
          id="name"
          [(ngModel)]="entityInterest.name"
          required
          autofocus
        />
        <small class="p-error" *ngIf="submitted && !entityInterest.name">
          Name is required.
        </small>
      </div>
      <div class="field">
        <label for="background">Background</label>
        <p-editor id="background" [(ngModel)]="entityInterest.background" [style]="{ height: '160px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button
                value="ordered"
                aria-label="Ordered List"
                type="button"
                class="ql-list"
              ></button>
              <button
                value="bullet"
                aria-label="Unordered List"
                type="button"
                class="ql-list"
              ></button>
              <select title="TextAlign" class="ql-align"></select>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <div class="field">
        <label for="purpose">Purpose</label>
        <p-editor id="purpose" [(ngModel)]="entityInterest.purpose" [style]="{ height: '160px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button
                value="ordered"
                aria-label="Ordered List"
                type="button"
                class="ql-list"
              ></button>
              <button
                value="bullet"
                aria-label="Unordered List"
                type="button"
                class="ql-list"
              ></button>
              <select title="TextAlign" class="ql-align"></select>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <div class="field">
        <label for="scope">Scope</label>
        <p-editor id="scope" [(ngModel)]="entityInterest.scope" [style]="{ height: '160px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button
                value="ordered"
                aria-label="Ordered List"
                type="button"
                class="ql-list"
              ></button>
              <button
                value="bullet"
                aria-label="Unordered List"
                type="button"
                class="ql-list"
              ></button>
              <select title="TextAlign" class="ql-align"></select>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <div class="field">
        <label for="approach">Approach</label>
        <textarea
          id="approach"
          pInputTextarea
          [(ngModel)]="entityInterest.approach"
          required
          rows="3"
          cols="20"
        >
        </textarea>
      </div>
      <div class="field">
        <label for="schedule">Schedule</label>
        <p-editor id="schedule" [(ngModel)]="entityInterest.schedule" [style]="{ height: '160px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button
                value="ordered"
                aria-label="Ordered List"
                type="button"
                class="ql-list"
              ></button>
              <button
                value="bullet"
                aria-label="Unordered List"
                type="button"
                class="ql-list"
              ></button>
              <select title="TextAlign" class="ql-align"></select>
            </span>
          </ng-template>
        </p-editor>
      </div>
      <div class="field">
        <label for="milestones">Milestones</label>
        <p-editor id="milestones" [(ngModel)]="entityInterest.milestones" [style]="{ height: '160px' }">
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <button type="button" class="ql-bold" aria-label="Bold"></button>
              <button
                type="button"
                class="ql-italic"
                aria-label="Italic"
              ></button>
              <button
                type="button"
                class="ql-underline"
                aria-label="Underline"
              ></button>
              <button
                value="ordered"
                aria-label="Ordered List"
                type="button"
                class="ql-list"
              ></button>
              <button
                value="bullet"
                aria-label="Unordered List"
                type="button"
                class="ql-list"
              ></button>
              <select title="TextAlign" class="ql-align"></select>
            </span>
          </ng-template>
        </p-editor>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <p-button
        pRipple
        label="Cancel"
        icon="pi pi-times"
        [text]="true"
        (click)="hideDialog()"
      />
      <p-button
        pRipple
        label="Save"
        icon="pi pi-check"
        [text]="true"
        (click)="saveProduct()"
      />
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '450px' }" />
</div>
