<div class="grid">
  <div id="archPlanForm" class="col-12 lg:col-5">
    <p-accordion [activeIndex]="activeIndex">
      <p-accordionTab header="Entity context">
<!--        <form [formGroup]="entityFormGroup">-->
<!--          <div formGroupName="entityContext">-->
<!--            <div class="flex flex-column">-->
<!--              <label for="entity">Entity name:</label>-->
<!--              <input id="entity" type="text" pInputText formControlName="name"/>-->
<!--            </div>-->
<!--            <div class="flex flex-column mt-2">-->
<!--              <label>Background:</label>-->
<!--              <p-editor formControlName="background" [style]="{ height: '160px' }">-->
<!--                <ng-template pTemplate="header">-->
<!--                  <span class="ql-formats">-->
<!--                    <button type="button" class="ql-bold" aria-label="Bold"></button>-->
<!--                    <button type="button" class="ql-italic" aria-label="Italic"></button>-->
<!--                    <button type="button" class="ql-underline" aria-label="Underline"></button>-->
<!--                    <button value="ordered" aria-label="Ordered List" type="button" class="ql-list"></button>-->
<!--                    <button value="bullet" aria-label="Unordered List" type="button" class="ql-list"></button>-->
<!--                    <select title="TextAlign" class="ql-align"></select>-->
<!--                  </span>-->
<!--                </ng-template>-->
<!--              </p-editor>-->
<!--            </div>-->
<!--            <div class="flex flex-column mt-2">-->
<!--              <label>Purpose:</label>-->
<!--              <p-editor formControlName="purpose" [style]="{ height: '160px' }">-->
<!--                  <ng-template pTemplate="header">-->
<!--                    <span class="ql-formats">-->
<!--                      <button type="button" class="ql-bold" aria-label="Bold"></button>-->
<!--                      <button type="button" class="ql-italic" aria-label="Italic"></button>-->
<!--                      <button type="button" class="ql-underline" aria-label="Underline"></button>-->
<!--                      <button value="ordered" aria-label="Ordered List" type="button" class="ql-list"></button>-->
<!--                      <button value="bullet" aria-label="Unordered List" type="button" class="ql-list"></button>-->
<!--                      <select title="TextAlign" class="ql-align"></select>-->
<!--                    </span>-->
<!--                  </ng-template>-->
<!--                </p-editor>-->
<!--            </div>-->
<!--            <div class="flex flex-column mt-2">-->
<!--              <label>Scope:</label>-->
<!--              <p-editor formControlName="scope" [style]="{ height: '160px' }">-->
<!--                <ng-template pTemplate="header">-->
<!--                  <span class="ql-formats">-->
<!--                    <button type="button" class="ql-bold" aria-label="Bold"></button>-->
<!--                    <button type="button" class="ql-italic" aria-label="Italic"></button>-->
<!--                    <button type="button" class="ql-underline" aria-label="Underline"></button>-->
<!--                    <button value="ordered" aria-label="Ordered List" type="button" class="ql-list"></button>-->
<!--                    <button value="bullet" aria-label="Unordered List" type="button" class="ql-list"></button>-->
<!--                    <select title="TextAlign" class="ql-align"></select>-->
<!--                  </span>-->
<!--                </ng-template>-->
<!--              </p-editor>-->
<!--            </div>-->
<!--          </div>-->
<!--        </form>-->
        <div class="m-2 flex justify-content-end">
          <p-button
            label="Continue"
            iconPos="right"
            icon="pi pi-arrow-down"
            size="small"
            (click)="activeIndexChange(1)"
          ></p-button>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Entity objectives">
        <p-toast />
        <p-toolbar styleClass="mb-4 gap-2">
          <ng-template pTemplate="left">
            <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" (click)="openObjectiveDialog()"/>
          </ng-template>
        </p-toolbar>
        <p-table [value]="objectives" [rows]="3">
          <ng-template pTemplate="header">
            <tr>
              <th>Description</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-objective>
            <tr>
              <td>{{ objective.description }}</td>
              <td>
                <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="removeObjective(objective)"/>
              </td>
            </tr>
          </ng-template>
        </p-table>
        <p-dialog [(visible)]="objectiveDialog" header="Objective details" [modal]="true" styleClass="p-fluid">
          <ng-template pTemplate="content">
            <form [formGroup]="objectiveFormGroup">
              <div class="field">
                <label for="description">Description:</label>
                <input id="description" type="text" pInputText formControlName="description" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
              </div>
              <div class="field">
                <label for="rationale">Rationale:</label>
                <input id="rationale" type="text" pInputText formControlName="rationale" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
              </div>
            </form>
          </ng-template>
          <ng-template pTemplate="footer">
            <p-button pRipple label="Cancel" icon="pi pi-times" [text]="true" (click)="hideObjectiveDialog()" class="mr-2"/>
            <p-button pRipple label="Add" icon="pi pi-check" [text]="true" (click)="saveObjective()"/>
          </ng-template>
        </p-dialog>
        <p-confirmDialog />
        <div class="m-2 flex justify-content-end">
          <p-button
            label="Continue"
            iconPos="right"
            icon="pi pi-arrow-down"
            size="small"
            (click)="activeIndexChange(2)"
          />
        </div>
      </p-accordionTab>
      <p-accordionTab header="Approach">
        <form [formGroup]="entityFormGroup">
          <div class="flex flex-column mt-2">
            <label>Techniques, methods and tools:</label>
            <p-editor formControlName="approach" [style]="{ height: '160px' }">
              <ng-template pTemplate="header">
                  <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                    <button value="ordered" aria-label="Ordered List" type="button" class="ql-list"></button>
                    <button value="bullet" aria-label="Unordered List" type="button" class="ql-list"></button>
                    <select title="TextAlign" class="ql-align"></select>
                  </span>
              </ng-template>
            </p-editor>
            <small id="username-help">
              Tip: Clearly define
            </small>
          </div>
        </form>
      </p-accordionTab>
    </p-accordion>
    <!--
    <div class="flex flex-column mt-2">
      <label for="approach">Approach:</label>
      <app-customized-editor id="approach" [passedFormGroup]="archPlanForm" passedFormControlName="approach"></app-customized-editor>
    </div>
    <div class="flex flex-column mt-2">
      <label for="resources">Resources and Schedule:</label>
      <app-customized-editor id="resources" [passedFormGroup]="archPlanForm" passedFormControlName="resourcesandschedule"></app-customized-editor>
    </div>
    <div class="flex flex-column mt-2">
      <label for="riskandmitigation">Risks and Mitigations:</label>
      <app-customized-editor id="riskandmitigation" [passedFormGroup]="archPlanForm" passedFormControlName="riskandmitigation"></app-customized-editor>
    </div>
    -->
    <!--
    <div id="archPlanFormPreview" class="col-12 lg:col-7 zoomed">
      <app-preview-plan></app-preview-plan>
    </div>
    -->
  </div>
</div>
