<h1> Manage viewpoints</h1>
<div class="field">
  <label>Name:</label>
  <input type="text" pInputText [(ngModel)]="viewpoint.name" class="focus:border-primary w-full">
</div>
<div class="field">
  <label>Overview:</label>
  <textarea pInputTextarea [(ngModel)]="viewpoint.overview" rows="5" class="focus:border-primary w-full"></textarea>
</div>
<div class="field">
  <label>Concerns:</label>
</div>
<div class="py-2 flex justify-content-end">
  <p-button pRipple severity="success" label="New" icon="pi pi-plus" class="mr-2" (click)="openNewViewpointDialog()"/>
</div>
<p-table [value]="viewpoints" [paginator]="true" [rows]="5">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-viewpoint>
    <tr>
      <td>{{ viewpoint.name }}</td>
      <td>
        <p-button pRipple icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"/>
        <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"/>
      </td>
    </tr>
  </ng-template>
</p-table>
