<div id="preview-area">
  <div *ngIf="!archPlan" id="nocontent-box" class="flex justify-content-center">
    <p>No preview available yet.</p>
  </div>
  <div *ngIf="archPlan">
    <div id="preview-box" class="p-3 border-1 border-solid border-gray-100 bg-white border-round">

      <div id="title" class="">
        <h1>{{ this.archPlan.name }}</h1>
      </div>

      <div id="backgroundHeader" class="bg-gray-100 border-solid border-1 border-round flex justify-content-center">
        <p>Background</p>
      </div>
      <div id="backgroundContent" [innerHTML]="this.archPlan.background"></div>

      <div id="purposeHeader" class="bg-gray-100 border-solid border-1 border-round flex justify-content-center">
        <p>Purpose</p>
      </div>
      <div id="purposeContent" [innerHTML]="this.archPlan.purpose"></div>

      <div id="scopeHeader" class="bg-gray-100 border-solid border-1 border-round flex justify-content-center">
        <p>Scope</p>
      </div>
      <div id="scopeContent" [innerHTML]="this.archPlan.scope"></div>

      <div id="approachHeader" class="bg-gray-100 border-solid border-1 border-round flex justify-content-center">
        <p>Approach</p>
      </div>
      <div id="approachContent" [innerHTML]="this.archPlan.approach"></div>

      <div id="resourcesandscheduleHeader" class="bg-gray-100 border-solid border-1 border-round flex justify-content-center">
        <p>Resources and Schedule</p>
      </div>
      <div id="resourcesandscheduleContent" [innerHTML]="this.archPlan.resourcesandschedule"></div>

      <div id="riskandmitigationHeader" class="bg-gray-100 border-solid border-1 border-round flex justify-content-center">
        <p>Risk and Mitigation</p>
      </div>
      <div id="riskandmitigationContent" [innerHTML]="this.archPlan.riskandmitigation"></div>
    </div>
  </div>
</div>
