<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<style type="text/css">
	table.striped>tbody>tr:nth-child(odd){
	background-color: rgba(158, 154, 154, 0.5);
	}
	form input[type=submit] {
		color: white;
	}

</style>

<title>Architecture Conceptualization</title>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">ArchConcept</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/cadastrostakeholder">Stakeholder</a></li>
        <li><a href="/cadastroconcern">Concern</a></li>
        <li><a href="/viewpointregistration">Viewpoint</a></li>
        <li><a href="/problemregistration">Problem</a></li>
        <li><a href="/objectiveregistration">Objective</a></li>
        <li><a href="/decisionregistration">Decision</a></li>
        <li><a href="/tradeoffregistration">Tradeoff</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/report">Report</a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </nav>
    
</body>


</head>
<body>
	<h3>Architecture Conceptualization</h3><br/>
	
	<h5>Concern Registration</h5>
	
     <br/>
    
    	<div th:each = "m : ${msg}">
    		<span th:text = "${m}"></span> 
       	</div>
    
     <br/>

<!--  	
		<div th:each="s : ${stakeholderobj}">
		  <div class="row">
				<p>ID: <span th:text="${s.id}"></span> </p>
				<p>ID: <span th:text="${s.nome}"></span> </p>
				<p>ID: <span th:text="${s.type}"></span> </p>
		  </div>

		</div>
-->
		
		

 
	<div class="row"> 
		
				
		<form action="salvarconcern" id="formconcern" method="post" th:object="${concernobj}" class="col s12" onsubmit="return validarCampos()? true : false">	
			
			<div class="row">
				
				<div class="input-field col s6">
					<label for="description" class="active">Description</label> 
					<input name="description" th:field="*{description}"  id="description" class="validate">
					<input name="id" type="hidden" th:field="*{id}" id="id">
					
				</div>
				
					<div class="input-field col s6">
					<label for="priority" class="active">Priority</label>
					<select class="browser-default" id="priority" name="priority" th:field="*{priority}">
							<option value="" disabled selected> --[Select]-- </option>
							<option value="LOW">Low </option>
							<option value="MED">Med </option>
							<option value="HIGH">High </option>
							
					</select> 
					
				</div>
				
				<div class="input-field col s6">
					<label for="stakeholder" class="active">Stakeholder</label>
					<select class="browser-default" id="stakeholder" name="stakeholder" th:field="*{stakeholders}">
					<!--    <option value="" disabled selected> --[Select]-- </option>  -->
							<option th:each="s : ${stakeholders}" th:value="${s.id}" th:text="${s.nome}" />
									
					</select>
				</div>
				
		
		<!--  		

				<div class="input-field col s6">
					<label for="priority" class="active">Priority</label> 
					<input name="priority" id="priority" class="validate">
				</div>
				
		-->


				<input type="submit" value="Add" class="waves-effect waves-light btn">
				
			</div>

			
		</form>
	</div>


	<br/>
	<br/>
	
	<table class="striped">
	    <thead>
	        <tr>
	     <!--  	<th> Stakeholder </th> -->
	            <th> Description </th>
	            <th> Priority </th>
	        	<th> Edit </th>
	        	<th> Delete </th>
	        	
	        </tr>
	    </thead>
	    <tbody>
		
	        <tr th:each="concern : ${concerns}">
	     <!--  	<td th:text="${concern.stakeholders.nome}">    -->
	            <td th:text="${concern.description}">
	            <td th:text="${concern.priority}">
	            <td><a th:href="@{/editarconcern/{idconcern}(idconcern=${concern.id})}">Edit</a>  </td> 
	            <td><a th:href="@{/removerconcern/{idconcern}(idconcern=${concern.id})}">Delete</a>  </td>
	            
	        </tr>
	    </tbody>
	</table>
	


 

	
	<script type="text/javascript" >
	  function validarCampos() {
		  descricao = document.getElementById('description').value;
		  priority = document.getElementById('priority').value;
		  stakeholder = document.getElementById('stakeholder').value;
		  
		  if (description === '') {
			  alert ('Description must be informed');
			  return false;
		  }
		  else if (priority === '') {
			  alert ('Prioritiy must be informed');
			  return false;
			  
		  }
		  
		  else if (stakeholder === '') {
			  alert ('Check if a stakeholder was previously registrated, if so, select one.');
			  return false;			  
		  }
		  
		  
		  return true; 
		  
	  }
	
	
	</script>

</body>
</html>