<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<style type="text/css">
	table.striped>tbody>tr:nth-child(odd){
	background-color: rgba(158, 154, 154, 0.5);
	}
	form input[type=submit] {
		color: white;
	}

</style>

<title>Architecture Conceptualization</title>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right">ArchConcept</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/cadastrostakeholder">Stakeholder</a></li>
        <li><a href="/cadastroconcern">Concern</a></li>
        <li><a href="/viewpointregistration">Viewpoint</a></li>
        <li><a href="/problemregistration">Problem</a></li>
        <li><a href="/objectiveregistration">Objective</a></li>
        <li><a href="/decisionregistration">Decision</a></li>
        <li><a href="/tradeoffregistration">Tradeoff</a></li>
        <li><a href="/search">Search</a></li>
        <li><a href="/report">Report</a></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li><a href="/logout">LOGOUT</a></li>
      </ul>
    </div>
  </nav>
    
</body>

</head>
<body>
	<h3>Architecture Conceptualization</h3><br/>
	
	<h5>Problem Registration</h5>
	
     <br/>
    
    	    
     <br/>
	
	<!--
		<div th:each="s : ${stakeholderobj}">
		  <div class="row">
				<p>ID: <span th:text="${s.id}"></span> </p>
				<p>ID: <span th:text="${s.nome}"></span> </p>
				<p>ID: <span th:text="${s.type}"></span> </p>
		  </div>

		</div>
	-->	
		
	<!--	<a class="waves-effect waves-light btn" href="/cadastrostakeholder">Stakeholder Registration</a>  -->

 
	<div class="row"> 
	
		<form action="salvarproblem" id="formproblem" method="post" th:object="${problemobj}" class="col s12" onsubmit="return validarCampos()? true : false">
		
		
			<div class="row">
				
				<div class="input-field col s6">
					<label for="title" class="active">Title</label> 
					<input name="title" th:field="*{title}" id="title" class="validate">
					<input name="id" type="hidden" th:field="*{id}" id="id">
				</div>

				<div class="input-field col s6">
					<label for="area" class="active">Area</label> 
					<input name="area" th:field="*{area}" id="area" class="validate">
				</div>
				
				<div class="input-field col s6">
					<label for="aspects" class="active">Aspects</label> 
					<input name="aspects" th:field="*{aspects}" id="aspects" class="validate">
				</div>

				<div class="input-field col s6">
					<label for="risks" class="active">Risks</label> 
					<input name="risks" th:field="*{risks}" id="risks" class="validate">
				</div>
				
				<div class="input-field col s6">
					<label for="oportunities" class="active">Oportunities</label> 
					<input name="oportunities" th:field="*{oportunities}" id="oportunities" class="validate">
				</div>

				<div class="input-field col s6">
					<label for="constraints" class="active">Constraints</label> 
					<input name="constraints" th:field="*{constraints}" id="constraints" class="validate">
				</div>
				
				<div class="input-field col s6">
					<label for="stakeholder" class="active">Stakeholder</label>
					<select class="browser-default" id="stakeholder" name="stakeholder" th:field="*{stakeholder}">
							<option value="" disabled selected> --[Select]-- </option>
							<option th:each="s : ${stakeholders}" th:value="${s.id}" th:text="${s.nome}" />
									
					</select>
				</div>
				
				<input type="submit" value="Add" class="waves-effect waves-light btn">
				
			</div>

			
		</form>
	</div>


	<br/>
	<br/>
	
	<table class="striped">
	    <thead>
	        <tr>
	        	<th> Stakeholder </th>
	            <th> Problem Title </th>
	            <th> Area </th>
	            <th> Aspects </th>
	            <th> Risks </th>
	            <th> Oportunities </th>
	            <th> Constraints </th>
	            <th> Edit </th>
	            <th> Delete </th>
	            
	            
	            
	        </tr>
	    </thead>
	    <tbody>
		
	        <tr th:each="problem : ${problems}">
	        	<td th:text="${problem.stakeholder.nome}">
	            <td th:text="${problem.title}">
	            <td th:text="${problem.area}">
	            <td th:text="${problem.aspects}">
	            <td th:text="${problem.risks}">
	            <td th:text="${problem.oportunities}">
	            <td th:text="${problem.constraints}"> 
	            <td><a th:href="@{/editarproblem/{idproblem}(idproblem=${problem.id})}">Edit</a>  </td>
	            <td><a th:href="@{/removerproblem/{idproblem}(idproblem=${problem.id})}">Delete</a>  </td>
	    <!--   	<td><a th:href="@{/objective/{idproblem}(idproblem=${problem.id})}">Add Objective</a>  </td>  -->
	        </tr>
	    </tbody>
	</table>
	

	
	<script type="text/javascript" >
	  function validarCampos() {
		  title = document.getElementById('title').value;
		  area = document.getElementById('area').value;
		  stakeholder = document.getElementById('stakeholder').value;
		  
		  
		  if (title === '') {
			  alert ('Title must be informed');
			  return false;
		  }
		  else if (area === '') {
			  alert ('Area must be informed');
			  return false;
			  
		  }
		  
		  else if (stakeholder === '') {
			  alert ('Stakeholder must be informed');
			  return false;
			  
		  }
		  
		  return true; 
		  
	  }
	
	
	</script>

</body>
</html>