<p-stepper [orientation]="screenWidth <= 768 ? 'vertical' : 'horizontal'">
  <!-- Of the 4 steps this is the first -->
  <p-stepperPanel header="Preparing the efforts">
    <ng-template let-index="index" let-nextCallback="nextCallback" pTemplate="content">
      <div class="border-2 border-dashed surface-border border-round surface-ground p-3">
        <h1>Architecture Elaboration Plan</h1>
        <p class="text-justify">Identify the need for architecture elaboration based on project requirements. Formulate
          a team comprising roles like architect, developers, and domain experts. Clearly define the scope of the
          architecture elaboration. Establish specific objectives and expected outcomes. Allocate responsibilities to
          team members and roles. Develop a detailed plan outlining tasks, activities, and timelines.
        </p>
        <app-arch-elaboration-plan-form></app-arch-elaboration-plan-form>
      </div>
      <div class="flex pt-4 justify-content-end">
        <p-button (onClick)="nextCallback.emit()" icon="pi pi-arrow-right" iconPos="right" label="Next"/>
      </div>
    </ng-template>
  </p-stepperPanel>
  <!-- Of the 4 steps this is the second -->
  <p-stepperPanel header="Designing the viewpoints">
    <ng-template let-index="index" let-nextCallback="nextCallback" let-prevCallback="prevCallback" pTemplate="content">
      <div class="border-2 border-dashed surface-border border-round surface-ground p-3">
        <h1>Architecture Viewpoint</h1>
        <p class="text-justify">
          This step involves the identification, adaptation, or creation of specific
          perspectives or viewpoints through which the architecture of a system or
          entity can be comprehensively understood and communicated. It involves identifying
          relevant stakeholders, and their concerns, and tailoring viewpoints to
          address those concerns. These viewpoints provide lenses through which different
          stakeholders can understand and analyze the architecture, promoting a
          comprehensive and well-rounded view that accommodates diverse perspectives.
        </p>
        <app-designing-viewpoints-form></app-designing-viewpoints-form>
      </div>
      <div class="flex pt-4 justify-content-between">
        <p-button (onClick)="prevCallback.emit()" icon="pi pi-arrow-left" label="Back"/>
        <p-button (onClick)="nextCallback.emit()" icon="pi pi-arrow-right" iconPos="right" label="Next"/>
      </div>
    </ng-template>
  </p-stepperPanel>
  <!-- Of the 4 steps this is tirth -->
  <p-stepperPanel header="Developing the views">
    <ng-template
      let-index="index"
      let-nextCallback="nextCallback"
      let-prevCallback="prevCallback"
      pTemplate="content"
    >
      <div class="flex flex-column h-12rem">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
        >
          Content III
        </div>
      </div>
      <div class="flex pt-4 justify-content-start">
        <p-button
          (onClick)="prevCallback.emit()"
          icon="pi pi-arrow-left"
          label="Back"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
  <!-- Of the 4 steps this is fourth and last -->
  <p-stepperPanel header="Coordinating the usage">
    <ng-template
      let-index="index"
      let-prevCallback="prevCallback"
      pTemplate="content"
    >
      <div class="flex flex-column h-12rem">
        <div
          class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium"
        >
          Content III
        </div>
      </div>
      <div class="flex pt-4 justify-content-start">
        <p-button
          (onClick)="prevCallback.emit()"
          icon="pi pi-arrow-left"
          label="Back"
        />
      </div>
    </ng-template>
  </p-stepperPanel>
</p-stepper>
