<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">

<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<!--Import materialize.css
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css"  media="screen,projection"/>
	  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

-->


            


<style type="text/css">
	
	form input[type=submit] {
		color: white;
	}
	
	
	form{
		margin-left: 35%;
		margin-top:11%;
	}
	
	.col .row {
		margin-right: 0rem;
	
	}

</style>

<title>ArchConpect - Software Architecture Conceptualization</title>
</head>
<body>

	<h1 align="center">ArchConcept Access</h1>


	<form th:action="@{/login}" method="post" class="col s12">
		
		<div class="row">
			<div class="input-field col s6">
				<label>Login</label>
				<input type="text" name="username" style="border-radius: 7px;" >
			</div>
		</div>
		
		<div class="row">
			<div class="input-field col s6">
				<label>Password</label>
				<input type="password" name="password" style="border-radius: 7px; ">
			</div>
		</div>
		
		<div class="row">
				<div class="input-field col s6">
					<input name="Logar" type="submit" value="Login"
					 class="waves-effect waves-light btn"  >
				</div>
		</div>
	</form>
	
	
	<!--JavaScript at end of body for optimized loading   -->
	<script type="text/javascript" src="materialize/js/materialize.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script> 
	
</body>
</html>