<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head>
	<th:block th:insert="fragments/base.html :: headconfig">
	</th:block>
</head>

<title>Architecture Conceptualization</title>
<body>
	<div class="container">
		<header th:replace="fragments/base.html :: header(page='',link='welcome')">
		</header>

	</div>
	
	<h3 align="center">Welcome to Architecture Conceptualization</h3><br/>

	<footer th:replace="fragments/base.html :: footer"></footer>
</body>

</html>