<form [formGroup]="passedFormGroup">
  <p-editor [style]="{ height: '120px' }" formControlName={{passedFormControlName}}>
    <ng-template pTemplate="header">
      <span class="ql-formats">
        <button value="ordered" aria-label="Ordered List" type="button" class="ql-list"></button>
        <button value="bullet" aria-label="Unordered List" type="button" class="ql-list"></button>
        <select title="TextAlign" class="ql-align"></select>
      </span>
    </ng-template>
  </p-editor>
</form>
