<div class="grid">
  <div id="archPlanForm" class="col-12 lg:col-5">
    <form [formGroup]="designingViewpointsForm">
      <div class="flex flex-column">
        <label for="entity">Entity:</label>
        <p>{{ entityField }}</p>
        <h2>Viewpoints</h2>
        <p-inputGroup>
          <button type="button" pButton (click)="addViewpoint('Context Viewpoint')">
            <i class="pi pi-plus"></i>
            Add viewpoint
          </button>
          <!-- <p-button label="Submit" icon="pi pi-check"></p-button> -->
          <input type="text" pInputText placeholder="Viewpoint name" />
        </p-inputGroup>
        <div formArrayName="viewpoints">
          <div *ngIf="viewpoints.controls.length == 0" class="mt-3">
            Add viewpoint puting the viewpoint name and click on the button.
          </div>
          <ng-container
            *ngFor="let viewpoint of viewpoints.controls; let i = index"
          >
            <div
              [formGroupName]="i"
              class="mt-1 mb-1 p-2 border-1 border-solid border-round"
            >
              <div class="field">
                <h2>{{ viewpoint.get('name')?.value }}</h2>
              </div>
              <div class="field">
                <label for="overview-{{ i }}">Overview:</label>
                <input
                  id="overview-{{ i }}"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="overview"
                />
              </div>
              <div class="field">
                <label for="stakeholders-{{ i }}">Stakeholders:</label>
                <input
                  id="stakeholders-{{ i }}"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="stakeholders"
                />
              </div>
              <div class="field">
                <label for="stakeholderPerspectives-{{ i }}"
                  >Stakeholder Perspectives:</label
                >
                <input
                  id="stakeholderPerspectives-{{ i }}"
                  type="text"
                  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                  formControlName="stakeholdersPerspectives"
                />
              </div>
            </div>
          </ng-container>
          <!--<div *ngFor="let viewpoint of viewpoints.controls; let i = index">
            <div class="field">
              <label for="name-{{ i }}">Name:</label>
              <input
                id="name-{{ i }}"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                [formControlName]="i"
              />
            </div>
            <div class="field">
              <label for="overview-{{ i }}">Overview:</label>
              <input
                id="overview-{{ i }}"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                [formControlName]="i"
              />
            </div>
            <div class="field">
              <label for="stakeholders-{{ i }}">Stakeholders:</label>
              <input
                id="stakeholders-{{ i }}"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                [formControlName]="i"
              />
            </div>
            <div class="field">
              <label for="stakeholderPerspectives-{{ i }}"
                >Stakeholder Perspectives:</label
              >
              <input
                id="stakeholderPerspectives-{{ i }}"
                type="text"
                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                [formControlName]="i"
              />
            </div>
          </div> -->
        </div>
      </div>
    </form>
  </div>
  <div id="archPlanFormPreview" class="col-12 lg:col-7 zoomed">
    <app-designing-viewpoints-preview></app-designing-viewpoints-preview>
  </div>
</div>
